* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat';
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 10px;
    max-width: 1250px;
    margin: 0 auto;
}
.header {
    position: relative;
    background: #E5E5E5;
    overflow: hidden;
}
.clearfix {
    clear: both;
}
.header__logo__menu {
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 30px;
    z-index: 2;
}
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #F9EBFF;
    margin-top: -150px;
    margin-left: 92px;
}

.menu {
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
}
.link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 44px;
    color: #7553E9;
    margin-left: 82px;
}
.logo__svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.hire__me {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
}
.about__designer {
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
}
.title__about__designer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #7553E9;
}
.text__about__designer {
    width: 450px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    color: #4F4F4F;
    text-align: center;
}
.image {
    position: absolute;
    left: 55%;
    top: 129px;
}
.image__image {
    width: 500px;
    
}
.main {
    margin-top: 200px;
    background: url(../images/background.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
.svg {
    position: absolute;
    left: -55px;
    top: 500px;
    z-index: 1;
}
.photo__designer {
    position: absolute;
    width: 445px;
    height: 431px;
    left: 165px;
    top: 850px;
    z-index: 99;
}
.title__personality {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 10px;
    letter-spacing: 0.12em;
    text-align: right;
    color: #6D3EDF;
}
.text__personality {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px; 
    text-align: right;
    color: #6D3EDF;

}
.about__personality {
    float: right;
    margin-top: 257px;
    margin-right: 60px;
}
.line {
    width: 500px;
    height: 4px;
    background: #EE75AC;
    position: relative;
    left: 17%;
    margin-bottom: 50px;
}
.circle {
    left: 35px;
    position: absolute;
    top: 1000px;
    z-index: 22;
}
.skill-main {
    margin-top: 400px;
    margin-left: 150px;
}
.title-skill {
    width: 635px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.12em;
    color: #6D3EDF;
}
.title-skill::after {
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #EE75AC;
}
.r-photo {
    z-index: 1;
}
.rose-photo {
    position: absolute;
    top: 900.41px;
    right: -50px;
    z-index: 6;
}
.after-rose-photo {
    position: absolute;
    top: 1120px;
    right: -50px;
    z-index: 9;
}
.all__skills {
    display: flex;
    justify-content: space-between;
    z-index: 99999;
    margin-top: 138px;
    margin-left: 230px;
}

.block__softskill h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #6D3EDF;
    margin-left: 20px;
}
.block__softskill p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #6D3EDF;
    margin-top: 60px;
}
.block__technical {
    z-index: 999;
}
.block__technical h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #6D3EDF;
    margin-left: 20px;
}
.block__technical p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #6D3EDF;
    margin-top: 60px;
}
.vector {
    position: absolute;
    top: 2550px;
    left: 0;
    z-index: 1;
}
.ellipsed {
    position: absolute;
    left: 0px;
    top: 2700px;
    z-index: 1;
}
.text__potfolio {
    text-align: center;
    margin-top: 210px;
    z-index: 9999;
}
.text__potfolio img {
    z-index: 9999;
}
.text__potfolio h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 128px;
    letter-spacing: 0.12em;
    color: #6D3EDF;
}
.before__footer {
    z-index: 1;
}
.text__potfolio h4::after {
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #EE75AC;
    margin-left: 295px;
    margin-right: 295px;
}

.krug {
    text-align: center;
}
.liski-krug {
    display: inline-block;
}
.button {
    width: 14px;
    height: 14px;
    background-color: #6D3EDF;
    border-radius: 50px;
    display: inline-block;
    margin-right: 10px;
}
.button:hover {
    background-color: #71D3C9;
}